/* CSS Document */
#sidebarleft_outer{
margin:0;
padding:0;
}

#sidebar_main{

list-style:none;
font-family:tahoma;
font-size:18px;

float:left;

margin:0;
padding:0;

background-color:rgb(0,175,240);

}

#sidebar_main > li{
display:block;

position:relative;


}
#sidebar_main > li > a{
color:#f4e4e6;
float:right;
text-decoration:none;
padding:14px 20px;
padding-left:40px;
padding-right:60px;
border-bottom:1px solid blue;


}
#sidebar_main > li > a:hover{
	background: rgba(99, 20, 32, 0.25);
}
#sidebar_main .currentPage a{
	background: rgb(99, 20, 32);
	/* RGBa with 0.6 opacity */
	background: rgba(99, 20, 32, 0.25);
}
#sidebar_main ul {
display:none;
position:absolute;
list-style:none;
left:0;
padding:0;
margin:0;
border-top:1px #a81b2f solid;
background:#e8edee;
}
#sidebar_main ul li a{
color:#5d6364;
text-decoration:none;
display:block;
padding:10px 12px;
border-bottom:1px solid #d3d9da;
border-left:1px solid #2168AF;
border-right:1px solid #2168AF;
font-size:13px;
cursor:auto;
}

/*
#sidebar_main li:hover ul {

display:block;
left:210px;
min-width:200px;

}
#sidebar_main ul li a:hover{
background-color:#00CC66;}
*/
#categ{
	width:216px;
	height:46px;
	background-color:#FF1D77;
	font-size:22px;
	text-align:center;
	color:white;
}